p{font-family:Arial;}

p {
    font-family: Arial;
  }
  h1{}

  p {
    font-family: Arial;
  }
  h1{color: maroon;}

  p {
    font-family: Arial;
  }
  
  h1 {
    color: maroon;
  }
  .title{}

  p {
    font-family: Arial;
  }
  
  h1 {
    color: maroon;
  }
  .title{color: teal;}

  p {
    font-family: Arial;
  }
  
  h1 {
    color: maroon;
  }
  
  .title {
    color: teal;
  }
  .uppercase{text-transform: uppercase;}

  p {
    font-family: Arial;
  }
  
  h1 {
    color: maroon;
  }
  
  .title {
    color: teal;
  }
  
  .uppercase {
    text-transform: uppercase;
  }
  
  #article-title{font-family: cursive;
  text-transform: capitalize;}

  p {
    font-family: Arial;
  }
  
  h1 {
    color: maroon;
  }
  
  .title {
    color: teal;
  }
  
  .uppercase {
    text-transform: uppercase;
  }
  
  #article-title {
    font-family: cursive;
    text-transform: capitalize;
  }
  
  .publish-time{color: gray;}

  p {
    font-family: Arial;
  }
  
  h1 {
    color: maroon;
  }
  
  .title {
    color: teal;
  }
  
  .uppercase {
    text-transform: uppercase;
  }
  .publish-time {
    color: gray;
  }

  p {
    font-family: Arial;
  }
  
  h1 {
    color: maroon;
  }
  
  .title {
    color: teal;
  }
  
  .uppercase {
    text-transform: uppercase;
  }
  .publish-time {
    color: gray;
  }
  
  .cursive{font-family: cursive;}

  p {
    font-family: Arial;
  }
  
  h1 {
    color: maroon;
  }
  
  .title {
    color: teal;
  }
  
  .uppercase {
    text-transform: uppercase;
  }
  .publish-time {
    color: gray;
  }
  
  .cursive{font-family: cursive;}
  
  .capitalize{text-transform: capitalize;}

  p {
    font-family: Arial;
  }
  
  h1 {
    color: maroon;
  }
  
  .title {
    color: teal;
  }
  
  .uppercase {
    text-transform: uppercase;
  }
  .publish-time {
    color: gray;
  }
  
  .cursive {
    font-family: cursive;
  }
  
  .capitalize {
    text-transform: capitalize;
  }
  
  h2.destination{font-family: cursive;}

  p {
    font-family: Arial;
  }
  
  h1 {
    color: maroon;
  }
  
  h2.destination {
    font-family: cursive;
  }
  
  .title {
    color: teal;
  }
  
  .uppercase {
    text-transform: uppercase;
  }
  .publish-time {
    color: gray;
  }
  
  .cursive {
    font-family: cursive;
  }
  
  .capitalize {
    text-transform: capitalize;
  }
  
  .description h5 {
  }

  p {
    font-family: Arial;
  }
  
  h1 {
    color: maroon;
  }
  
  h2.destination {
    font-family: cursive;
  }
  
  .title {
    color: teal;
  }
  
  .uppercase {
    text-transform: uppercase;
  }
  .publish-time {
    color: gray;
  }
  
  .cursive {
    font-family: cursive;
  }
  
  .capitalize {
    text-transform: capitalize;
  }
  
  .description h5 {color: teal;
  }