p{font-family:Arial;}

p {
    font-family: Arial;
  }
  h1{}

  p {
    font-family: Arial;
  }
  h1{color: maroon;}

  p {
    font-family: Arial;
  }
  
  h1 {
    color: maroon;
  }
  .title{}

  p {
    font-family: Arial;
  }
  
  h1 {
    color: maroon;
  }
  .title{color: teal;}

  p {
    font-family: Arial;
  }
  
  h1 {
    color: maroon;
  }
  
  .title {
    color: teal;
  }
  .uppercase{text-transform: uppercase;}